# Dependencies
node_modules
.pnp.*
.yarn/*

# Build
dist
build

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Misc
.DS_Store
*.pem
coverage
*.log

# Prisma
prisma/*.db 

# Cursor files and other ai files
.cursorrules
# .aiHelpers foder and files
.aiHelpers

# Usage package
packages/usage/node_modules
packages/usage/.env
packages/usage/prisma/dev.db
packages/usage/prisma/dev.db-journal
packages/usage/prisma/generated
packages/usage/src/generated