# Dependencies
node_modules
.pnp.*
.yarn/*

# Build
dist
build

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Misc
.DS_Store
*.pem
coverage
*.log

# Prisma
prisma/*.db 